[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
	branch = warrior
[submodule "meta-altera"]
	path = meta-altera
	url = https://github.com/kraj/meta-altera
